@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { 
    margin:     0;
    padding:    0;
    box-sizing: border-box;
}

html {
    background: radial-gradient(circle at center, #1f3756, #141539);
}
body {
    width: 1180px;
    margin: 2rem auto;
    padding: 10px;
    overflow: hidden;
}

header {
    width: 780px;
    padding: 20px;
    margin-bottom: 120px;
    border: 2px solid rgb(163, 163, 163, .8);
    border-radius: 20px;
    overflow: hidden;
}

main {
    width: 820px;
    height: 500px;
}

footer {
    width: 100%;
    float: right;
}

/** FONT CLASSES */
.barlow-semi-condensed-semibold {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.barlow-semi-condensed-bold {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/** GENERALES */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tracking-in-expand-fwd {
    animation: tracking-in-expand-fwd .7s cubic-bezier(.215,.61,.355,1.000) both
}

.background {
    background: no-repeat center url("./img/bg-triangle.svg");
    background-size: contain;
}


/** CABECERA */
.score-card {
    width: 150px;
    height: 90px;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 10px;
    text-align: center;
}

.score-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #5f68e2;
    margin-bottom: 5px;
    transform: scale(1.1);
}

.score {
    font-size: 4rem;
    color: #534F67;
    min-height: 55px;
    height: 55px;
}

/** JUEGO */
.game-container {
    width: 100%;
    height: 400px;
    background: no-repeat center url("img/bg-triangle.svg");
    background-size: contain;
}

.game-container img {
    width: 69px;
}

.game-container > .first-row {
    position: relative;
    bottom: 60px;
    gap: 150px;
}

.second-row {
    margin-top: 100px;
}


.hand-game {
    width: 150px;
    height: 150px;
    background-color: #e1e2e3;
    border: 20px solid;
    border-radius: 100%;
}

.paper {
    border-color: #6076ef !important;
    box-shadow: 0px 8px 0px 0px rgb(72, 91, 196), inset 0px 8px 0px 0px rgb(172, 172, 172);
}

.rock {
    border-color: #db3958 !important;
    box-shadow: 0px 8px 0px 0px rgb(175, 43, 68), inset 0px 8px 0px 0px rgb(172, 172, 172);
}

.scissors {
    border-color: #eaaa27 !important;
    box-shadow: 0px 8px 0px 0px rgb(175, 126, 28), inset 0px 8px 0px 0px rgb(172, 172, 172);
}

/** RESULT BOX */
.result-container {
    width: 100%;
}

.info-title {
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.result-container > .first-column, .result-container > .third-column {
    width: 255px;
    height: 300px;
}

.result-container > .first-column span, .result-container > .third-column span {
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: white;
}

.result-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.playAgainBox button {
    width: 200px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
}

.playAgainText {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.winTextColor {
    color: #505269;
}

.loseTextColor {
    color: #CC5068;
}

.playAgainBox button:hover {
    cursor: pointer;
}

/** RULES */
.rules {
    width: 80px;
    height: auto;
    padding: 8px 15px 8px 15px;
    border: 1px solid #e1e2e3;
    border-radius: 8px;
    color: #e1e2e3;
    text-transform: uppercase;
    text-align: center;
}

.rules-box {
    margin-top: 5rem;
}

.hover-transition:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}

/** MODAL */
.modal-container {
    position: fixed; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0, .5); /* Color negro con opacidad del 50% */
}

.modal {
    width: 420px;
    height: auto;
    z-index: 1;
    padding: 40px;
    border-radius: 10px;
    background-color: #e1e2e3;
    animation-name: aparecer;
    animation-duration: 0.5s;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #534F67;
    margin-bottom: 40px;
}

.rules-modal-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.close-modal-box {
    flex-grow: 1;
}

.close-modal-box img {
    cursor: pointer;
    animation-name: desaparecer;
    animation-duration: 0.5s;
}


/** ANIMATIONS */
/* ----------------------------------------------
 * Generated by Animista on 2024-4-26 12:6:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes tracking-in-expand-fwd {
    0% { font-size: 1rem; letter-spacing:-.5em; transform:translateZ(-700px); opacity:0}
    40% { opacity:.6 }
    100% { font-size: 3rem; transform:translateZ(0); opacity:1 }
}

@keyframes aparecer {
    from { top: -300px; opacity: 0 }
    to { top: 0; opacity: 1 }
}

@keyframes desaparecer {
    from { top:0; opacity: 1; }
    to { top: -300px; opacity: 0; }
}